@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap'); */
/* Curtain Open Animation */
@keyframes curtainDown {
    0% {
      transform: scaleY(0);
      opacity: 0;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }
  
  .curtain-animation {
    transform-origin: top;
    animation: curtainDown 0.4s ease-out forwards;
  }

  .garamond-font {
    font-family: 'EB Garamond', serif;
  }

/* home hero section animaiton */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-70%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInFromLeft 1s ease-out forwards;
}